@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-lora: "Lora", serif;
  --primary: #D5A96A;
}

body {
  font-family: "Montserrat", sans-serif; 
}
/* 
@media screen and (min-width: 778px) and (max-width: 900px) {
  
} */

